#colPick{
    color:#333;
    font-weight:bold;
    font-family: Arial, Helvetica, sans-serif;
    background:rgba(255,255,255,0.5);
    width:240px;
    padding:0.5em 1em;
    border-radius:4px;
    position:absolute;
    left:50%;
    top:50%;
    box-sizing: border-box;
    margin-left:-120px;
    margin-top:-80px;
    box-shadow:0px 0px 8px rgba(0,0,0,0.1)
  }
    
  input{
    width:180px;
    margin:0 0 0 9px;
    padding:0;
    top: 5px;
    position: relative;
  }